.section {
    background: rgb(232,230,233); 
   
}
.sub-title-home {
    font-size: 3.0rem;
    text-align: center;
    color: rgb(68, 56, 44);
    /* background-color: rgb(108, 234, 191); */
    /* background-color: rgb(237,102,108); */
    background-color: rgb(254, 236, 170);
    padding: 0 40px 100px 40px;
    /* margin-left: 30px; */
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    height: 40px;
}

.overflow-hidden {
    height: 800px;
}
.img-contenedor {
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
}

.img-1 {
    height: 500px;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}
.img-2 {
    height: 500px;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}
.img-3 {
    height: 500px;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}
.img-4 {
    height: 500px;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}
.img-5 {
    height: 500px;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}

.section-2 {
    margin: 20px 10px;
}
.parrafo {
    font-size: 1.3rem;
    color: rgb(104, 87, 69);
    text-align: center;
    padding:50px;
    background: rgb(255, 255, 255);
    line-height: 1.7rem;
    letter-spacing: 3px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    margin-bottom: 5px;
}

.card-container {
    position: relative;
    display: inline-block;
    text-align: center;
}
.text-card-container{
    position: absolute;
    top: 20%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 500px;

    font-size: 3.0rem;
    text-align: center;
    color: rgb(41, 34, 25);
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.parrafo-card-container {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 500px;

    font-size: 1.7rem;
    color: rgb(41, 34, 25);
    text-align: center;
}
.images-card {
    width: 100vmax;
    object-fit: cover;
    height: 500px;
}
/* Footer */

.bg-white {
    background-color: rgb(182,226,211);
}


@media screen and (max-width: 480px){
    .logo {
        margin-left: 0;
    }
    .overflow-hidden {
        height: 500px;
    }
    .sub-title-home {
        font-size: 1.5rem;
        height: 15px;
      }
      /* .grid {
        display: block;
      } */
      .grid-cols-2 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    } 
    .rounded-lg {
        border-radius: 0.5rem;
        width: -webkit-fill-available;
    }
    .text-card-container {
       font-size: 2rem;
       margin-left: -100px;
       margin-top: 20px;
       font-style: inherit;
    }
    .images-card {
        height: 300px;
    }
    .parrafo-card-container {
        margin-left: -100px;
        width: 350px;
        margin-top: 60px;
        font-size: 1.7rem;
        
    }
    
    
}

@media screen and (max-width: 320px){
    .logo {
        margin-left: 0;
    }
    
}
