body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.section {
    background: rgb(232,230,233); 
}
.sub-title-home {
    font-size: 3.0rem;
    text-align: center;
    /* color: rgb(44, 36, 29); */
    color: azure;
    /* background-color: rgb(108, 234, 191); */
    /* background-color: rgb(237,102,108); */
    /* background-color: rgb(254, 236, 170); */
    background-color: #D29CFE;
    padding: 0 40px 100px 40px;
    /* margin-left: 30px; */
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    height: 40px;
}

.overflow-hidden {
    height: 800px;
}
.img-contenedor {
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
}

.img-1 {
    height: 500px;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}
.img-2 {
    height: 500px;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}
.img-3 {
    height: 500px;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}
.img-4 {
    height: 500px;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}
.img-5 {
    height: 500px;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}

.section-2 {
    margin: 20px 10px;
}
.parrafo {
    font-size: 1.3rem;
    color: rgb(31, 26, 21);
    text-align: center;
    padding:50px;
    background: rgb(255, 255, 255);
    line-height: 1.7rem;
    letter-spacing: 1px;
    /* font-family: "Poppins", serif; */
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  */
    font-weight: 400;
    font-style: normal; 
    margin-bottom: 5px;
}

.whatsapp-container {
    position: relative;
    display: inline-block;
    text-align: center;
    height: 501px;
}
.card-contenedor {
    margin-top: -400px;
    margin-left: 900px; 
    width: 500px;
    font-size: 3.0rem;
    text-align: center;
    color: rgb(41, 34, 25);
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

.images-card {
    width: 100vmax;
    object-fit: cover;
    height: 500px;
}
/* Footer */

.bg-white {
    /* background-color: rgb(182,226,211); */
    /* background-color: rgb(63,181,255); */
    
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(63,81,255,0.9) 0%, rgba(0,212,255,1) 100%);
}
.text-gray-500 {
    color: azure;
}


@media screen and (max-width: 480px){
    
    .logo {
        margin-left: 0;
    }
    .overflow-hidden {
        height: 500px;
    }
    .sub-title-home {
        font-size: 1.3rem;
        height: 15px;
        padding-top: 10px;
      }
      /* .grid {
        display: block;
      } */
    /* .home-main {
        width: 100%;
    }   */ 
    .section-2 {
       margin: 20px 10px;
    }   
      .grid-cols-2 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    } 
    .rounded-lg {
        border-radius: 0.5rem;
        width: -webkit-fill-available;
    }
    .h3 {
       font-size: 1.7rem;
       margin-left: -100px;
       margin-top: 20px;
       font-style: inherit;
    }
    .whatsapp-container {
        width: 100%;
    }
    .card-contenedor {
        margin-left: 0;
        margin-top: -270px;
        width: 390px;
        font-size: 1.4rem;
    }


    /* .images-card {
        height: 300px;
    } */
    
    
    
}

@media screen and (max-width: 320px){
    .logo {
        margin-left: 0;
    }
    
}
