.sub-title-home {
    font-size: 3.0rem;
    text-align: center;
    box-shadow: rgb(104, 87, 69);
    color: rgb(104, 87, 69);
    background-color: rgb(108, 234, 191);
    padding: 0 40px 100px 40px;
    /* margin-left: 30px; */
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    height: 40px;
}
.md\:grid-cols-4 {
    margin-top: 10px;
    margin: 10px 10px;
}
.info-container {
    display: flex;
    margin: 10px 20px;
}
.description {
    font-size: 1rem;
    color: rgb(55, 46, 36);
    text-align: center;
    font-weight: 600;
    background-color: rgb(108, 234, 191);
    line-height: 1.7rem;
    letter-spacing: 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    height: 100px;
    padding-top: 10px;
    border-radius: 0 0 10px 10px;
}  

.gap-4 {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin: 10px;
}
 
.images-products {
    object-fit: cover;
    height: 500px;
    width: 650px;
    border-radius: 10px 10px 0 0;
}
/* Footer */

.bg-white {
    background-color: rgb(182,226,211);
}