.px-10 {
    background-image: url('https://images.pexels.com/photos/743986/pexels-photo-743986.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1s');
    background-size: cover;
    background-repeat: no-repeat; 
    height: 1400px;
    width: auto;
    margin: 0;
    object-fit: cover;
}

.h1 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text-lg {
    color: black;
    margin: 0px 0px;
    padding: 50px;
    font-size: 2.5rem;
}

.container {
    margin: 100px 20px 0 0;
    display: grid;
    grid-template-columns: 
      repeat(auto-fit,
      minmax(150px, 2fr )
      );
    gap: 32px;  
}

.imagen-1 {
   margin-left: 200px;
   border-radius: 8px;
   width: 500px;
   height: auto;
   box-shadow: 0px 0px 30px #000;     
}
.description-1 {
    font-family: Lexend Deca, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: normal;
}
.description-2 {
    font-family: Lexend Deca, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: normal;
}
.imagen-2 {
    margin-right: 200px;
    border-radius: 8px;
    width: 600px;
    height: auto;
    box-shadow: 0px 0px 30px #000;     
 }
/* Footer */

.bg-white {
    /* background-color: rgb(182,226,211); */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(63,81,255,0.9) 0%, rgba(0,212,255,1) 100%);
}
.text-gray-500 {
    color: azure;
}

@media screen and (max-width: 480px) {
    .px-10 {
        height: 1500px;
    }
    .text-lg {
        font-size: 2.0rem;
    }
    .imagen-1 {
        margin-left: -200px;
        margin-top: -90px;
    }
    .description-1 {
        width: 400px;
        /* margin-top: 100px; */
        margin: 100px 30px 30px 0;
        font-size: large;
    }
    .description-2 {
        width: 400px;
        /* margin-top: 150px; */
        margin: 150px 30px 30px 0;
        margin-left: -205px;
        font-size: large;
    }
}