
<!-- <input type="number" [value]="duration()" (change)="changeDuration($event)">
<input type="text" [value]="message()" (change)="changeMessage($event)">
 -->

    <!-- <p class="text-xs">Numero de clientes
        <app-counter [duration]="duration()" [message]="message()" *ngIf="duration() > 0"/>
    </p> -->

 <div class="px-10">
    <h1 class="text-lg font-bold">About</h1>
    <p class="text-xs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit earum adipisci nobis quia et a perspiciatis quam voluptatem perferendis doloribus aspernatur aperiam alias, dicta, sed architecto iure sapiente odio quasi.</p>
    <img class="imagen" src="https://images.pexels.com/photos/911738/pexels-photo-911738.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
    
</div>


