.w-full {
    height: 100px; 
    font-size: 1.5rem; 
  }
  .p-4 {
    height: 0;
    padding: 0;
      /* background: rgb(146, 247, 146); */
    /* position: fixed;  */ 
   } 
  /* Esto es para cambiar color al menu */
  
  .md\:p-0 {
      /* color: rgb(45, 44, 44);  */
      color: beige;
      padding: 20px; 
   } 
  .font-medium { 
      /* margin-left: 700px; */
      font-style: italic;
      font-weight: 800;
      font-size: xx-large;
  }
  
  .nav {
      border: 1px solid red;
      position: fixed; 
      float: left;
  }
  /* .bg-green-400 {
      background: rgb(146, 247, 146); 
  } */
  .logo {
      border: 1px solid red;
      height: 70px;
      width: 70px;
      object-fit: cover;
  }
  
  .title {
      font-size: 3.0rem;
      color: beige;
      padding: 40px;
      margin-left: 30px;
      font-weight: 600;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .header-container {
      background-image: url('./../../../../../assets/logo/george3082.jpeg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
      object-fit: cover;
      height: 600px;  
      /* opacity: calc(70%);  */
  }

  /* .relative[_ngcontent-ng-c3460741518] {
    border: 1px solid black;
    height: 120px; 
    margin-left: 200px;
    margin: 0 ;
}  */


  .parrafo {
      /* border: 1px solid red; */
      height: 800px;
      width: 900px;
      margin: 0 20px 0 40px;
      padding: 100px 0 0 0;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: beige;
      font-size: 2.5rem;
      font-weight: 600;
  }
  .gap-8 {
      padding: 40px 0px 0px 60px; 
      background-color: rgb(247, 247, 244);
  }

  .relative {
    border: 1px solid red;
    height: 400px;
  }
  