.w-full {
    height: 130px; 
    font-size: 1.5rem; 
    margin-left: 300px;
  }
  .p-4 {
    height: 0;
    padding: 0;
      /* background: rgb(146, 247, 146); */
    /* position: fixed;  */ 
   } 

   .p-1 {
    height: 0;
    padding: 0;
    margin-top: 30px;
      /* background: rgb(146, 247, 146); */
    /* position: fixed;  */ 
   } 
   
  /* Esto es para cambiar color al menu */
  
  .md\:p-0 {
      /* color: rgb(45, 44, 44);  */
      /* color: beige; */
      color: rgb(93,96,95);
      padding: 28px; 
   } 
  .font-medium { 
      /* margin-left: 700px; */
      font-style: italic;
      font-weight: 800;
      font-size: xx-large;
  }
  
  .nav {
      border: 1px solid red;
      position: fixed; 
      float: left;
  }
  /* .bg-green-400 {
      background: rgb(146, 247, 146); 
  } */
  .logo {
      height: 250px;
      width: 400px;
      object-fit: cover;
      margin: 0;
      margin-left: 65px;
      border-radius: 0 ;
  }
  
  .title {
    font-size: 4.0rem;
    color: beige;
    padding: 40px 40px 0;
    margin-left: 30px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    
  }
  .subtitle {

    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
     
    /* color: rgb(9, 28, 25); */
    color: rgb(93,96,95);
    font-size: 1.5rem;
    margin-left: 65px;
    width: 400px;
    text-align: center;
    border-radius: 0 0 10px 10px;
    /* background-color: rgb(85, 234, 234); */
    background-color: rgb(182,226,211);

  }
  
  .header-container {
      /* background-image: url('./../../../../../assets/logo/george3082.jpeg');  */
      background-color: rgb(182,226,211);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
      object-fit: cover;
      height: 500px;  
      /* opacity: calc(70%);   */
  }

  /* .relative[_ngcontent-ng-c3460741518] {
    border: 1px solid black;
    height: 120px; 
    margin-left: 200px;
    margin: 0 ;
}  */


  .parrafo {
      /* border: 1px solid red; */
      height: 300px;
      width: 1000px;
      /* margin: 0 20px 0 65px; */
      margin-left: 300px;
      padding: 20px 0 0 0;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
      /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
      /* color: rgb(252, 252, 245); */
      color: rgb(93,96,95);
      font-size: 2.0rem;
      font-weight:400;
      text-align: center;
  }
  .gap-8 {
      padding: 40px 0px 0px 60px; 
      background-color: rgb(247, 247, 244);
  }

  .relative {
    border: 1px solid red;
    height: 400px;
  }
  